<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tankverhalten">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tankverhalten">
        <service
            android:name=".services.NotificationTUV"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".activities.GarageActivity"
            android:label="Garage"
            android:theme="@style/Theme.Tankverhalten.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddVehicleActivity"
            android:label="EditVehicle"
            android:theme="@style/Theme.Tankverhalten.NoActionBar" />
        <activity
            android:name=".activities.MenuActivity"
            android:label="Test"
            android:parentActivityName=".activities.GarageActivity"
            android:theme="@style/Theme.Tankverhalten.NoActionBar" />
        <activity
            android:name=".activities.RefuelingProcessesActivity"
            android:label=""
            android:parentActivityName=".activities.AddVehicleActivity"
            android:theme="@style/Theme.Tankverhalten.NoActionBar" />
        <activity
            android:name=".activities.PopupDeleteActivity"
            android:label=""
            android:parentActivityName=".activities.AddVehicleActivity"
            android:theme="@style/Theme.Tankverhalten.NoActionBar" />
        <activity
            android:name=".activities.AddRideActivity"
            android:label=""
            android:parentActivityName=".activities.AddVehicleActivity"
            android:theme="@style/Theme.Tankverhalten.NoActionBar" />
    </application>

</manifest>